Registration/WindowsFormsApplication1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49676/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49676/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49676/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IService1_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_search_InputMessage">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="IService1_search_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_change_password_InputMessage">
    <wsdl:part name="parameters" element="tns:change_password" />
  </wsdl:message>
  <wsdl:message name="IService1_change_password_OutputMessage">
    <wsdl:part name="parameters" element="tns:change_passwordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_add_category_InputMessage">
    <wsdl:part name="parameters" element="tns:add_category" />
  </wsdl:message>
  <wsdl:message name="IService1_add_category_OutputMessage">
    <wsdl:part name="parameters" element="tns:add_categoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_change_InputMessage">
    <wsdl:part name="parameters" element="tns:change" />
  </wsdl:message>
  <wsdl:message name="IService1_change_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isadmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isadmin" />
  </wsdl:message>
  <wsdl:message name="IService1_isadmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isadminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_search_servant_InputMessage">
    <wsdl:part name="parameters" element="tns:search_servant" />
  </wsdl:message>
  <wsdl:message name="IService1_search_servant_OutputMessage">
    <wsdl:part name="parameters" element="tns:search_servantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/add" message="tns:IService1_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addResponse" message="tns:IService1_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/search" message="tns:IService1_search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchResponse" message="tns:IService1_search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="change_password">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/change_password" message="tns:IService1_change_password_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/change_passwordResponse" message="tns:IService1_change_password_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add_category">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/add_category" message="tns:IService1_add_category_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/add_categoryResponse" message="tns:IService1_add_category_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="change">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/change" message="tns:IService1_change_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/changeResponse" message="tns:IService1_change_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isadmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isadmin" message="tns:IService1_isadmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isadminResponse" message="tns:IService1_isadmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search_servant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/search_servant" message="tns:IService1_search_servant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/search_servantResponse" message="tns:IService1_search_servant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IService1/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="http://tempuri.org/IService1/search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="change_password">
      <soap:operation soapAction="http://tempuri.org/IService1/change_password" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add_category">
      <soap:operation soapAction="http://tempuri.org/IService1/add_category" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="change">
      <soap:operation soapAction="http://tempuri.org/IService1/change" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isadmin">
      <soap:operation soapAction="http://tempuri.org/IService1/isadmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_servant">
      <soap:operation soapAction="http://tempuri.org/IService1/search_servant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49676/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>