Registration/WindowsFormsApplication1/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclub">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="club" nillable="true" type="tns:club" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclub" nillable="true" type="tns:ArrayOfclub" />
  <xs:complexType name="club">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qualification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Working_category" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="club" nillable="true" type="tns:club" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>